Joshua Budd, Abdur Naveed, Ryan Keyser, Nathaniel Sullivan

# User Testing Results
This document goes over our first round of user testing our app, the results we recived and how we will update our app to aid in the user experience

## List of Tasks for Users to Complete

1. Click on &quot;Instructions&quot; on the top right-hand corner of the menu, read all pages of the instruction manual to understand how to play each game.
2. Play the &quot;Target Practice&quot; game, take a different amount of times to see how it affects the score.
3. Press the pause button to go to the main menu.
4. Play the &quot;Guitar Hero&quot; game, see how the game gets faster the more you play.
5. Play the &quot;Line Drawing&quot; game, test how different straightnesses give different scores.
6. Press &quot;High Scores&quot; on the main menu to see how well you did overall.

## Questions for Users

1. Throughout playing these fine motor skill games, what caught your attention?
2. Which game did you like the best?
3. Were the instructions clear?
4. What game helped improve fine motor skills the most?
5. Which game do you think was the hardest/easiest?
6. Were the games fun to play?
7. Was the feedback adequate for each game?
8. Was the difficulty of the games fine?
9. Any other improvements?


## Results

| Questions for Users | User 1 | User 2 | 
| --- | --- | --- |
| Question 1 | Not only were my fingers moving but my wrist was moving too | Throughout all of these games, I would say that they were all fundamentally attention-grabbing. The targets/target count for the first exercise caught my attention; the guitar strings for the second; and the two dots for the third. However, for the first exercise (target practice), I would suggest minimizing the number that represents the target count. It does draw the eye a little more than the targets after the game is initially launched.
| Question 2 | The Guitar Hero game | I preferred Guitar hero. It was quite like the actual game. |
| Question 3 | Yes | Instructions were except for the third exercise. The line draw could use a comment. |
| Question 4 | Guitar Hero | Guitar Hero |
| Question 5 | Guitar Hero was the hardest, then target practice and finally, line drawing | Guitar Hero |
| Question 6 | Yes the games were fun to play | All of them were enjoyable. |
| Question 7 | Yes the feedback was adequate for each game | Feedback should include more text/written commentary. |
| Question 8 | The difficulty of each game was a little too easy | Yes, difficulty was adequate. | 
| Question 9 | You guys should have a back to menu option when done with the game. | N/A |


## Analysis

### Target Practice

- Hard to tell how to get to the main menu

### Guitar Hero

- The game starts too promptly
- Can be a little hard in the beginning

### Line Draw

- Does not have the best feedback
- Needs better instructions
- Not as &quot;flashy&quot; as the other games

### General

- Screen size can be too big

## Changes

### Target Practice

- Add &quot;exit&quot; button so it is more intuitive how to exit the game

### Guitar Hero

- Make it a bit slower in the beginning so users can get used to it

### Line Draw

- Add more feedback
- Try to make the game more flashy to bring more attention

### General

- Make screen size the user window size
